%tr{ class: cycle('even', 'odd') }
  %td= subscription.subscription_product.name
  %td= l subscription.created_at.to_date
  %td= subscription.limit
  %td= subscription.state
  %td
    = button_to 'Cancel', spree.admin_subscription_path(subscription),
      method: :delete,
      data: { confirm: t(:cancel_confirmation, scope: :subscriptions) }
    = link_to 'Update credit Card', edit_update_credit_card_path(subscription) , class: 'button'

