.details
  %h3 Subscription Information
  %p
    %strong= "#{t(:subscribed_product, scope: :subscriptions)}:"
    = @subscription.subscription_product.name
  %p
    %strong= "#{t(:user_email, scope: :subscriptions)}:"
    = @subscription.user.email
  %p
    %strong= "#{t(:subscribed_on, scope: :subscriptions)}:"
    = @subscription.created_at.to_date
  %p
    %strong= "#{t(:next_shipment, scope: :subscriptions)}:"
    = @subscription.next_date.to_date
  %p
    %strong= "#{t(:status, scope: :subscriptions)}:"
    = @subscription.state
  %p
    = link_to 'Go Back To Store', root_path, class: 'button'
    = link_to 'Edit Shipping Address',
      edit_subscription_address_path(@subscription, @subscription.address),
      class: 'button'
